<!DOCTYPE html>

<html>
    <head>
        <title>ECOspace</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/css/normalize.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/css/Grid.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/css/ionicons.min.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
        <link rel="preconnect" href="https://fonts.gstatic.com" />
        <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,300&display=swap" rel="stylesheet" />
        <script>
            if (document.cookie) {
                window.location.replace("{{ url_for('legacy.home') }}");
            }
        </script>
    </head>

    <body>
        <header>
            <nav>
                <div class="row">
                    <img class="logo" src="{{ url_for('static', filename='img/the_circle_logo_no_circle.svg') }}" alt="ECOspace logo" />
                    <div class="nav-btns">
                        <a href="{{ url_for('auth.login') }}">Log in</a>
                        <a href="{{ url_for('auth.register') }}">Sign up</a>
                    </div>
                </div>
            </nav>
            <div class="titles">
                <h1><span>ECO</span>space</h1>
                <h1>The green social network</h1>
            </div>
        </header>

        <section class="section-entry">
            <div class="row">
                <h2>What is <span>ECO</span>space?</h2>
            </div>
            <div class="row">
                <p>
                    <span>ECO</span>space is a social network designed to ease the organization of groups of volunteers who want to help the conservation of their local natural
                    sights and reduce the global pollution. This happens by creating events in which every user can participate.
                </p>
            </div>
            <div class="row">
                <div class="col span-1-of-3 feature">
                    <i class="ion-ios-location"></i>
                    <h3>Choose your location</h3>
                </div>
                <div class="col span-1-of-3 feature">
                    <i class="ion-checkmark"></i>
                    <h3>Join events</h3>
                </div>
                <div class="col span-1-of-3 feature">
                    <img src="{{ url_for('static', filename='img/the_circle_logo_no_circle.svg') }}" alt="Leaf icon" />
                    <h3>Help the nature</h3>
                </div>
            </div>
        </section>

        <section class="section-signup">
            <div class="row">
                <h2>So, what are you waiting for?</h2>
            </div>
            <div class="row">
                <a href="{{ url_for('auth.register') }}">Sign up!</a>
            </div>
        </section>

        <footer>
            <div class="row">
                <h3>Contacts</h3>
                <ul>
                    <li>test@gmail.com</li>
                    <li>test@gmail.com</li>
                </ul>
            </div>
        </footer>
        <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    </body>
</html>
