<!DOCTYPE html>

<html>
    <head>
        <title>Home</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/css/normalize.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/css/Grid.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/css/ionicons.min.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/app.css') }}" />
        <link rel="preconnect" href="https://fonts.gstatic.com" />
        <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,300&display=swap" rel="stylesheet" />
        <script src="{{ url_for('static', filename='vendor/js/jwt-decode.js') }}"></script>
    </head>
    <body>
        <header>
            <nav>
                <div class="row">
                    <img class="logo" src="{{ url_for('static', filename='img/the_circle_logo_no_circle.svg') }}" alt="ECOspace logo" />
                    <ul class="nav-btns">
                        <a href="{{ url_for('legacy.home') }}">
                            <li><i class="ion-android-home"></i> Home</li>
                        </a>
                        <a href="{{ url_for('legacy.myevents') }}">
                            <li><i class="ion-calendar"></i> My events</li>
                        </a>
                        <a href="{{ url_for('legacy.going') }}">
                            <li><i class="ion-checkmark"></i> Going</li>
                        </a>
                        <a href="{{ url_for('legacy.profile') }}" class="active">
                            <li><i class="ion-person"></i> Profile</li>
                        </a>
                    </ul>
                </div>
            </nav>
        </header>

        <section class="section-profile">
            <div class="content">
                <div class="row">
                    <div class="col span-1-of-2">
                        <h1 id="username">Username: JohnyMan</h1>
                        <h2>Password: <span style="color: transparent">********</span></h2>
                        <h2 id="fullname">Name: John Smith</h2>
                    </div>
                    <div class="col span-1-of-2">
                        <h3><a href="#" class="logout-btn" onclick="logout()">Log out</a></h3>
                    </div>
                </div>
            </div>
        </section>
        <script src="{{ url_for('static', filename='js/stickynav.js') }}"></script>
        <script src="{{ url_for('static', filename='js/constants.js') }}"></script>
        <script src="{{ url_for('static', filename='js/api.js') }}"></script>
        <script src="{{ url_for('static', filename='js/profile.js') }}"></script>
    </body>
</html>
