/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    color: #555;
    font-family: "Lato", "Arial", sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

.container {
    padding: 40px 100px;
    border: 1px solid black;
    border-radius: 20px;
    background: linear-gradient(white, #d9d9d9);
}

form {
    text-align: center;
}

input {
    border-radius: 20px;
    border: 1px solid black;
    background: white;
}

input[type="text"],
input[type="password"],
label {
    text-align: center;
    display: block;
    width: 100%;
    font-size: 1.5em;
}

input[type="submit"] {
    margin-top: 2%;
    font-size: 1.3em;
    width: 100px;
    cursor: pointer;
    transition: background-color 1s;
}

input[type="submit"]:hover {
    background-color: #d9d9d9;
}

#register {
    width: 110px;
}

a {
    text-decoration: none;
    color: green;
    transition: color 1s;
}

a:hover {
    color: #004f00;
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #fff;
    color: #555;
    font-family: "Lato", "Arial", sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

.box {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/background.login.jpg);
    background-size: cover;
    background-position: center;
    border: 2px solid black;
    border-radius: 50px;
    margin: 5% auto;
    height: 50vh;
    width: 50vw;
}

.box label {
    text-align: center;
    margin: 20px auto 0 auto;
    display: block;
    height: 5vh;
    font-size: 150%;
    color: #fff;
}

.box input {
    margin: 0 auto;
    display: block;
    height: 5vh;
    width: 50%;
}
