* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #fff;
    color: #555;
    font-family: "Lato", "Arial", sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

.box {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/background.login.jpg);
    background-size: cover;
    background-position: center;
    border: 2px solid transparent;
    border-radius: 50px;
    margin: 5% auto;
    height: 300px;
    width: 40%;
}

.box label {
    text-align: center;
    margin: 20px auto 0 auto;
    display: block;
    height: 10%;
    font-size: 150%;
    color: #fff;
}

.box input {
    margin: 0 auto;
    display: block;
    border: none;
    border-radius: 40px;
    text-align: center;
}

.box input[type="text"],
.box input[type="password"] {
    height: 30px;
    width: 50%;
}
.box input[type="submit"] {
    cursor: pointer;
    font-size: 130%;
    margin-top: 60px;
    height: 35px;
    width: 110px;
    color: #fff;
    background: #7ab214;
    transition: background 0.3s;
}

.box input[type="submit"]:hover {
    background: #85c215;
}
