/* ----------------------- */
/* BASIC SETUP */
/* ----------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/arborct_homeslider_10.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    color: #555;
    font-family: "Lato", "Arial", sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

.clearfix {
    zoom: 1;
}
.clearfix:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/* REUSABLE CONTENT */

.row {
    max-width: 1200px;
    margin: 0 auto;
}

/* HEADER */

nav {
    z-index: 1;
    transition: background 0.3s, border-bottom 0.3s;
    position: fixed;
    top: 0;
    width: 100%;
}

nav .row {
    text-align: center;
}

nav i {
    display: inline-block;
    color: #7ab214;
    font-size: 130%;
}

.logo {
    margin-top: 10px;
    height: 60px;
    width: auto;
    float: left;
}

.nav-btns {
    font-size: 110%;
    margin-top: 15px;
    list-style: none;
    display: inline-block;
}
.nav-btns a {
    display: inline-block;
    margin-left: 104px;
    margin-right: 50px;
    color: #7ab214;
    border: 1px solid transparent;
    padding: 4px 12px;
    border-radius: 10px;
    transition: border 0.3s;
}

.nav-btns a:hover {
    border: 1px solid #7ab214;
}

.nav-btns a li {
    color: inherit;
    text-decoration: none;
    display: inline-block;
}

.nav-btns a.active {
    color: #fff;
    background: #7ab214;
    transition: color 0.3s, background 0.3s;
}
.nav-btns a.active i {
    color: #fff;
    transition: color 0.3s, background 0.3s;
}

.nav-btns a.active:hover {
    color: #7ab214;
    background: #fff;
}
.nav-btns a.active:hover i {
    color: #7ab214;
}

.profile-btn {
    float: right;
    margin-top: 19px;
    border: 1px solid transparent;
    padding: 4px 12px;
    border-radius: 10px;
    transition: border 0.3s;
}
.profile-btn:hover {
    border: 1px solid #7ab214;
}
.profile-btn a {
    color: #7ab214;
    text-decoration: none;
}

/* USER INFO SECTION */

section {
    text-align: center;
    margin-top: 120px;
}

section .row {
    border-radius: 25px;
    background: #fff;
}

section h1,
h2 {
    font-weight: 300;
}

h1 {
    margin-bottom: 40px;
}

h2 {
    margin-bottom: 20px;
}

h3 {
    margin-top: 190px;
    margin-bottom: 30px;
}

.logout-btn {
    padding: 8px 15px;
    font-size: 100%;
    border-radius: 20px;
    text-decoration: none;
    color: #fff;
    background: #dc3545;
    transition: background 0.3s;
}
.logout-btn:hover {
    background: #e15260;
}
