/* ----------------------- */
/* BASIC SETUP */
/* ----------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #fff;
    color: #555;
    font-family: "Lato", "Arial", sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

.clearfix {
    zoom: 1;
}
.clearfix:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/* REUSABLE CONTENT */

.row {
    max-width: 1200px;
    margin: 0 auto;
}

section {
    padding-top: 60px;
}

/* HEADINGS */

h1,
h2,
h3 {
    font-weight: 300;
}

span {
    color: #7ab214;
}

h2 {
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
    font-size: 200%;
}

p {
    font-size: 120%;
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
    text-align: center;
    margin-bottom: 30px;
}

.section-entry h2::after {
    display: block;
    height: 2px;
    background-color: #7ab214;
    content: " ";
    width: 150px;
    margin: 0 auto;
    margin-top: 30px;
}

h3 {
    font-weight: 300;
    font-size: 120%;
    margin-bottom: 15px;
}

/* HEADER */

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/background.webp);
    background-size: cover;
    background-position: center;
    height: 80vh;
}

nav {
    padding-top: 10px;
}

.logo {
    width: 120px;
    height: auto;
}

.nav-btn {
    margin-top: 40px;
    float: right;
}

.nav-btn a {
    color: white;
    text-decoration: none;
    margin-left: 13px;
    display: inline-block;
    padding: 5px 12px;
    font-size: 120%;
}

.nav-btn a:first-child {
    border-radius: 50px;
    transition: background 0.3s;
}
.nav-btn a:first-child:hover {
    background: #85c215;
}

.nav-btn a:last-child {
    border-radius: 50px;
    background: #7ab214;
    transition: background 0.3s;
}
.nav-btn a:last-child:hover {
    background: #85c215;
}

.titles {
    top: 35%;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    position: absolute;
    left: 50%;
    word-spacing: 4px;
    letter-spacing: 1px;
    transform: translate(-50%, -50%);
}

.titles h1:first-of-type {
    margin-bottom: 10px;
    font-size: 500%;
}
.titles h1:last-of-type {
    margin-top: 0;
    font-size: 200%;
}
/* ENTRY */

.feature {
    text-align: center;
}

.feature i {
    font-size: 400%;
    color: #7ab214;
}

.feature:nth-of-type(2) {
    padding-top: 10px;
}

.feature:nth-of-type(2) i {
    font-size: 300%;
}
.feature:nth-of-type(2) h3 {
    margin-top: 12px;
}

/* SIGNUP */

.section-signup {
    text-align: center;
    margin-bottom: 60px;
}
.section-signup h2 {
    margin-bottom: 60px;
}
.section-signup a {
    padding: 10px 20px;
    border-radius: 50px;
    color: #fff;
    background: #7ab214;
    text-decoration: none;
    font-size: 200%;
    text-align: center;
    transition: background 0.3s;
}
.section-signup a:hover,
.section-signup a:active {
    background: #85c215;
}

/* FOOTER */

footer {
    height: 150px;
    background: #2d3436;
    color: #fff;
}

footer h3 {
    margin-top: 30px;
    margin-left: 1%;
}

footer ul {
    margin-left: 1%;
    font-size: 90%;
    margin-top: 10px;
    list-style: none;
}
footer ul li {
    margin-bottom: 8px;
}
