<!DOCTYPE html>

<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}" />
        <link rel="preconnect" href="https://fonts.gstatic.com" />
        <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,300&display=swap" rel="stylesheet" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/css/normalize.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/css/Grid.css') }}" />
        <meta charset="UTF-8" />
        {% block style %}{% endblock %}
    </head>
    <body>
        {# The line below is not a comment because everything inside the {# } will get ignored
        <!-- HACK: This is done to prevent prettier from uglifying the code ugh #}
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                <div style="background-color: magenta; color: white; font-size: 3em; font-family: Georgia, 'Times New Roman', Times, serif;">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
        {% endwith %}
        {# -->
        #}
        <section class="box">{% block box %}{% endblock %}</section>
    </body>
</html>
