{% extends 'auth/base.html' %}

{% block title %}Login{% endblock %}

{% block style %}
<style>
    html {
        background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("{{ url_for('static', filename='img/background.login_50.jpg') }}");
    }
</style>
{% endblock %}

{% block box %}
<form action="{{ url_for('auth.login') }}" method="POST">
    <label for="username">Username</label>
    <input name="username" type="text" id="username" required />
    <label for="password">Password</label>
    <input name="password" type="password" id="password" required />
    <input name="then" type="hidden" value="{{ request.args.get('then', '') }}" />
    <input type="submit" value="Log in" id="login" />
</form>

<h2>Don't have an account?
    {% if request.args.get('then') %}
    <a href="{{ url_for('auth.register', then=request.args['then']) }}">
    {% else %}
    <a href="{{ url_for('auth.register') }}">
    {% endif %}
         Sign up!
    </a>
</h2>
{% endblock %}