{% extends 'auth/base.html' %}

{% block title %}Register{% endblock %}

{% block style %}
    <style>
        html {
            background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("{{ url_for('static', filename='img/background.signup2.png') }}");
        }
    </style>
{% endblock %}

{% block box %}
    <form action="">
        <label>First name</label>
        <input type="text" id="firstname" required />
        <label>Last name</label>
        <input type="text" id="lastname" required />
        <label>Username</label>
        <input type="text" id="username" required />
        <label>Password</label>
        <input type="password" id="password" />
        <input type="submit" value="Register" id="register" />
    </form>

    <h2>Already have an account?<a href="{{ url_for('auth.login') }}"> Log in!</a></h2>
{% endblock %}

{% block script %}
    <script src="{{ url_for('static', filename='js/register.js') }}"></script>
{% endblock %}
