<!DOCTYPE html>

<html>
    <head>
        <title>ECOspace</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/css/normalize.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/css/Grid.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/css/ionicons.min.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/app.css') }}" />
        <link rel="preconnect" href="https://fonts.gstatic.com" />
        <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,300&display=swap" rel="stylesheet" />
        <script src="{{ url_for('static', filename='vendor/js/jwt-decode.js') }}"></script>
    </head>
    <body>
        <header>
            <nav>
                <div class="row" style="background-color: rgba(255, 0, 255, 0.253)">
                    <img class="logo" src="{{ url_for('static', filename='img/the_circle_logo_no_circle.svg') }}" alt="ECOspace logo" />
                    <ul class="nav-btns">
                        <a href="/events" data-link>
                            <li><i class="ion-android-home"></i> Home</li>
                        </a>
                        <a href="/events/my" data-link>
                            <li><i class="ion-calendar"></i> My events</li>
                        </a>
                        <a href="/events/going" data-link>
                            <li><i class="ion-checkmark"></i> Going</li>
                        </a>
                        <a href="/profile" data-link>
                            <li><i class="ion-person"></i> Profile</li>
                        </a>
                    </ul>
                </div>
            </nav>
        </header>

        <div id="content"></div>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                <div class="{{ category }}" style="background-color: magenta; color: white; font-size: 3em; font-family: Georgia, 'Times New Roman', Times, serif;">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
        {% endwith %}

        <script src="{{ url_for('static', filename='vendor/js/purify.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/stickynav.js') }}"></script>
        <script src="{{ url_for('static', filename='js/constants.js') }}"></script>
        <script src="{{ url_for('static', filename='js/api.js') }}"></script>
        <script src="{{ url_for('static', filename='js/views/AbstractView.js') }}"></script>
        <script src="{{ url_for('static', filename='js/views/EventListView.js') }}"></script>
        <script src="{{ url_for('static', filename='js/views/EventView.js') }}"></script>
        <script src="{{ url_for('static', filename='js/views/NotImplementedView.js') }}"></script>
        <script src="{{ url_for('static', filename='js/router.js') }}"></script>
    </body>
</html>
